/* main styles*/
body {
  background-color: #292929;
  text-align: center;
  font-family: Times New Roman, Times, serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.2rem;
}
p {
  max-width: 75%;
  text-align: center;
  content-align: center;
}

a {
  color: #bfbfbf;
}

a:visited {
  color: #757575
}

/* Responsive video */
.video-responsive {
  overflow: auto;
  max-width: 75%;
  padding-bottom: 50%;
  position: relative;

  margin: auto;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 75%;
  width: 100%;
  position: absolute;
  margin: auto;
}

/* Featured image */

.feature {
  display: flex;
  max-width: 50%;
  height: auto;
  margin: auto;
  padding: 2%;
}
