/* main styles */
body {
  background-color: #160924 !important;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-left: 25%;
  margin-right:25%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 1.8rem;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.2rem;
}


a {
  color: #00b2ff;
}

a:visited {
  color: #4abaea
}

/* Responsive video */
.video-responsive {
  overflow: auto;
  max-width: 75%;
  padding-bottom: 50%;
  position: relative;
  margin: auto;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 75%;
  width: 100%;
  position: absolute;
  margin: auto;
}

/* Featured image */

.feature {
  display: flex;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 2%;
}

/*Breakpoint 549px*/

@media only screen and (max-width: 549px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  ul {
    font-size: .8rem;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
  }

  h2 {
    font-size: .8rem;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;}}